{% extends 'forum/base_forum.html' %}


{% block title %}
Comments
{% endblock %}


{% block content %}
<a href="{% url 'topic_view' %}">На главную форума</a>
<hr>

{% for comment in comments %}
    <div>
    <h3>Автор: {{ comment.author }}</h3>
        {% if comment.text_mutual %}
        <h4>Комментарий к комментарию:</h4> <b>{{ comment.text_mutual }}</b>

        {% endif %}
         <h4>Текст:</h4>{{ comment.text }}<br>
        <p>
        <h5>Дата публикации: {{ comment.created_at|date:"Y-m-d H:i" }}</h5>
        </p>
<a href="{% url 'add_mute' comment_pk=comment.pk topic_pk=topic_pk %}">Комментировать</a>
        <hr />
    </div>
{% endfor %}

{% if user.is_authenticated %}

<form action="{% url 'add_comment' topic_pk=topic_pk  %}" method="post">
    {% csrf_token %}
    {{ form.text }}

    <input type="submit" value="Добавить новый комментарий">
</form>

{% else %}

Для комментирования записей, вам необходимо авторизироваться <a href=""><button>Авторизация</button></a>
Если вы не зарегистрированы, сделайте это! <a href="{% url 'register' %}"><button>Регистрация</button></a><br>
{% endif %}

{% if page_obj.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination">

      {% if page_obj.number > 3 %}
        <li class="page-item">
                <a class="page-link" href="?page=1">1</a>
            </li>
      {% endif %}

      {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">PREVIOUS</a>
            </li>
        {% endif %}

      {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ p }}">{{ p }}<span class="sr-only"></span></a>
                </li>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">NEXT</a>
            </li>
      {% endif %}

      {% if page_obj.end_index|add:-3 < page_obj.paginator.num_pages  %}
      <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}

  </ul>
</nav>
{% endif %}

{% endblock %}

