{% extends 'forum/base_forum.html' %}


{% block title %}
Comments
{% endblock %}


{% block content %}
<a style="margin-left: 20px" href="{% url 'topic_view' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">На главную форума</span></a>

{% if user.is_authenticated %}
{% else %}
<div style="margin-left: 20px; margin-right: 20px">
Для комментирования записей, вам необходимо авторизироваться <a href="{% url 'login' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Авторизация</span></a>
Если вы не зарегистрированы, сделайте это! <a href="{% url 'register' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Регистрация</span></a>
</div>
{% endif %}

{% for comment in comments %}

    <div style="margin-left: 20px; margin-right: 20px">
        <hr />
    <p>Автор: {{ comment.author }}</p>
        {% if comment.text_mutual %}
        <p>Комментарий к комментарию: <b>{{ comment.text_mutual }}</b></p>

        {% endif %}
         <p>Текст: {{ comment.text }}</p>
        <p>Дата публикации: {{ comment.created_at|date:"Y-m-d H:i" }}</p>
<a href="{% url 'add_mute' comment_pk=comment.pk topic_pk=topic_pk %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Комментировать</span></a>
        <hr />
    </div>
{% endfor %}

{% if user.is_authenticated %}

<div style="width: 50rem; margin-left: 20px; margin-top: 5px">
<form action="{% url 'add_comment' topic_pk=topic_pk  %}" method="post">
    {% csrf_token %}
    {{ form.text }}

    <button type="submit" class="btn btn-warning">Добавить новый комментарий</button>
</form>
</div>

{% endif %}

{% if page_obj.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination">

      {% if page_obj.number > 3 %}
        <li class="page-item">
                <a class="page-link" href="?page=1">1</a>
            </li>
      {% endif %}

      {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">PREVIOUS</a>
            </li>
        {% endif %}

      {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ p }}">{{ p }}<span class="sr-only"></span></a>
                </li>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">NEXT</a>
            </li>
      {% endif %}

      {% if page_obj.end_index|add:-3 < page_obj.paginator.num_pages  %}
      <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}

  </ul>
</nav>
{% endif %}

{% endblock %}

