{% extends 'forum/base_forum.html' %}

{% block title %}
Register
{% endblock %}


{% block content %}
<a href="{% url 'main' %}" style="margin-left: 20px">
    <span style="color:orange" class="badge badge-primary badge-pill ">На главную</span></a><br>
{% if messages %}
{% for m in messages %}

{{ m }}

{% endfor %}
{% endif %}

<div style="width: 50rem; margin-left: 20px">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-warning">Регистрация</button>
</form>
</div>
{% endblock %}