{% extends 'forum/base_forum.html' %}


{% block content %}



{% if user.is_authenticated %}
<a style="margin-left: 20px" href="{% url 'add_topic' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Хотите добавить тему для обсуждения?</span></a>
<a style="margin-left: 20px" href="{% url 'users_topic' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Посмотреть темы, в которых я участвую</span></a>
<a style="margin-left: 20px" href="{% url 'popular' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Популярные темы</span></a>
{% else %}
<div style="margin-left: 20px; margin-right: 20px">
Для комментирования записей, вам необходимо авторизироваться <a href="{% url 'login' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Авторизация</span></a>
Если вы не зарегистрированы, сделайте это! <a href="{% url 'register' %}">
    <span style="color:orange" class="badge badge-primary badge-pill ">Регистрация</span></a>
</div>
{% endif %}

{% for topic in topics %}
    <div style="margin-left: 20px; margin-right: 20px">
        <hr />
    {{ topic.title }} <a href="{{ topic.get_absolute_url }}">
        <span style="color:orange" class="badge badge-primary badge-pill ">Обсудить</span></a>
        Комментариев: <span style="color:orange" class="badge badge-primary badge-pill ">{{ topic.cnt }}</span>
        <hr />
    </div>
{% endfor %}

{% if page_obj.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination">

      {% if page_obj.number > 3 %}
        <li class="page-item">
                <a class="page-link" href="?page=1">1</a>
            </li>
      {% endif %}

      {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">PREVIOUS</a>
            </li>
        {% endif %}

      {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ p }}">{{ p }}<span class="sr-only"></span></a>
                </li>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">NEXT</a>
            </li>
      {% endif %}

      {% if page_obj.end_index|add:-3 < page_obj.paginator.num_pages  %}
      <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}

  </ul>
</nav>
{% endif %}

{% endblock %}



