{% extends 'main.html' %}

{% block title %}
Weather
{% endblock %}


{% block content %}
{% for info in all_info %}
<b>Город:</b>{{ info.city }}<br>
<b>Температура:</b> {{ info.temp }}<sup>o</sup><br>
<img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды"><br>
<hr>
{% endfor %}

{% if city_info %}
<b>Город:</b>{{ city_info.city }}<br>
<b>Температура:</b> {{ city_info.temp }}<sup>o</sup><br>
<img src="http://openweathermap.org/img/w/{{ city_info.icon }}.png" alt="Фото погоды"><br>
{% else %}

{% endif %}

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="{{ form.name.id_for_label }}" class="form-label">Название города: </label>
        {{ form.name }}
    </div>
    <input type="submit" value="submit">
</form>
{% endblock %}