{% extends 'catalog/base_catalog.html' %}

{% block title%}
Basket
{% endblock %}

{% block content %}
{% if goods_in_basket %}
<h3 class="text-center mt-5 mb-5">Корзина </h3>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible show" role="alert">
  {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Изображение</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Общая цена</th>
        <th scope="col">Удаление</th>
    </tr>
    </thead>
    <tbody>
    {% for good in goods_in_basket %}
    <tr>
        <th scope="row">{{ good.content_object }}</th>
        <td class="w=15">
            {% if good.content_object.image %}
            <img src="{{good.content_object.image.url}}" style="max-height:80px"><br>
            {% endif %}
        </td>
        <td>{{good.content_object.price}}</td>
        <td>
            <form action="{% url 'change_good_in_basket' ct_model=good.content_object.product_category.slug slug=good.content_object.slug %}"
                  method="POST">
                {% csrf_token %}
                <input type="number" class="form-control" name="count" style="width: 70px;" min="1"
                       value="{{good.count}}">
                <br>
                <input type="submit" class="btn btn-primary" value="Изменить">
            </form>
        </td>
        <td>{{good.total_price}}</td>
        <td>
            <a href="{% url 'del_good_in_basket' ct_model=good.content_object.product_category.slug slug=good.content_object.slug %}">
                <button
                        class="btn btn-danger">Удалить из корзины
                </button>
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"></td>
        <td>Итого(наименований):</td>
        <td>{{ basket.quantity_goods_basket }}</td>
        <td>{{ basket.total_price_basket }}</td>
        <td>
            <a href="{% url 'making_order'  %}">
                <button
                        class="btn btn-info">Оформить заказ
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

{% else %}
<h3 class="text-center mt-5 mb-5">Корзина пуста</h3>
{% endif %}

{% endblock %}

