{% extends 'catalog/base_catalog.html' %}
{% load crispy_forms_tags %}

{% block title%}
Category_goods
{% endblock %}

{% block content %}
{% if category_name %}
<p class="text-center"><big><mark>{{ category_name }}</mark></big></p>
<br>
<div class="row">
    <div class="col-md-6 ">
{% for good in category_goods %}

<div class="card" style="width: 50rem; margin-left: 30px">
    <div class="card-header" style="background: #f3eac4">
        <a href="{% url 'good_detail' ct_model=slug slug=good.slug %}">{{ good.title }}</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 ">
                {% if good.image %}
                <img src="{{good.image.url}}" style="max-height:200px">
                {% endif %}
            </div>
            <div class="col-md-7 ">
                <p class="card-text" >Описание: {{ good.about}} </p>
                <p class="card-text; row align-items-end">Цена: {{ good.price}} р ({{good.price_in_d }} $)</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
{% endfor %}
    </div>
        {% if user %}
    {% if form %}
<div class="col-md-4 " style="margin-left: 30px">
    <h3>Добавте товар</h3><br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-block mb-3" value="добавить товар">
    </form>
 </div>
{% endif %}
{% endif %}
 </div>
{% else %}
НЕТ ТОВАРОВ
{% endif %}


{% endblock %}