{% extends 'catalog/base_catalog.html' %}

{% load crispy_forms_tags %}

{% block title%}
Feedback_list
{% endblock %}

{% block content %}
<div>
<nav aria_label="breadcrumb" class="m-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'category_first' %}">Каталог</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category_goods' slug=good.product_category.slug %}">{{ good.product_category.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{good.title}}</li>
    </ol>
</nav>
<div class="row;m-5">
    <div class="col-md-2">
        <img src="{{ good.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ good.title}}</h3>
        <p>Цена: {{good.price }}</p>
        <p>Слаг: {{good.slug }}</p>
        <p>Описание: {{good.about }}</p>
           <br>
<br>
<br>
<br>
<br>
<br>

    </div>
</div>
</div>
<div class="w-50 p-3 mt-5 mb-5" style="margin-left: 50px">
    <h2>Отзывы</h2><br>
{% for feedback in feedbacks %}
Автор:   {{feedback.author }}    {{feedback.created_date }}<br>
Название:       {{feedback.title }}<br>
Текст:           {{feedback.text }}<br>
Достоинства:      {{feedback.dignities }}<br>
Недостатки:       {{feedback.disadvantages }}<br>
Оценка:           {{feedback.estimation }}<br><br><br>

{% endfor %}
</div>
{% endblock %}

