{% extends 'catalog/base_catalog.html' %}

{% block title%}
Orders
{% endblock %}

{% block content %}
{% if orders %}
<h3 class="text-center mt-5 mb-5">Заказы</h3>
<div class="w-100 p-3 ">
{% for order, goods in orders.items %}
Имя:  {{order.first_name}}   Фамилия: {{order.last_name}}    Телефон: {{order.phone}}   Адрес:  {{order.address}}
    Статус: {{order.status}}   Дата:  {{order.created_at}}<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Изображение</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Общая цена</th>
    </tr>
    </thead>
    <tbody>
    {% for good in goods %}
    <tr>
        <th scope="row">{{ good.content_object }}</th>
        <td class="w=15">
            {% if good.content_object.image %}
            <img src="{{good.content_object.image.url}}" style="max-height:80px"><br>
            {% endif %}
        </td>
        <td>{{good.content_object.price}}</td>
        <td>
            {{good.count}}
        </td>
        <td>{{good.total_price}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"></td>
        <td>Итого(наименований):</td>
        <td>{{ order.quantity_goods_order }}</td>
        <td>{{ order.total_price }}</td>
    </tr>
    </tbody>
</table>
<br>
<br>
{% endfor %}
{% else %}
<h3 class="text-center mt-5 mb-5">Нет заказов</h3>
{% endif %}
</div>
{% endblock %}

